@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  height: 100%;
  background-image: url(завантаження.webp);
  background-size: 100vw 100vh;
  z-index: -1;
}

.one_block_column {
  margin: 50px 0px;
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.two_block_column {
  padding: 0px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 32%;
  flex: 0 1 32%;
}

.three_block_column {
  margin: 0px 0px;
  padding: 0px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 32%;
  flex: 0 1 32%;
}

.four_block_column {
  padding: 10px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

header {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.container_header {
  position: relative;
  width: 1200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(250, 250, 250, 0.4);
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
}
.container_header .word1 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  left: 340px;
  font-size: 60px;
  font-weight: bold;
}
.container_header .word2 {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  left: 750px;
  font-size: 60px;
  font-weight: bold;
}

.logo {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo img {
  width: 250px;
}

main {
  width: 100%;
  height: 100%;
}

.container_main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.content_main {
  width: 1100px;
  height: 100%;
  padding: 50px;
}

.line_block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.line_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 0px;
}

.block {
  width: 100px;
  background: rgba(250, 250, 250, 0.4);
  text-align: center;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
}
.block a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

.image {
  width: 180px;
  padding: 40px 0px;
}

.three_block_column {
  margin: 0px 0px;
  padding: 10px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}

footer {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 27px;
}

.container_footer {
  width: 1200px;
  height: 100px;
  background: rgba(250, 250, 250, 0.4);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.content_footer {
  width: calc(100% - 50px);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content_footer a {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #000;
}
.content_footer span {
  opacity: 0;
}

@media (max-width: 2560px) {
  footer {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    padding-bottom: 88px;
  }
}
